@font-face {
  src : url("../fonts/NanumSquareR.ttf");
  font-family: "NanumSquareR";
}
.checkbox-container {
	width: 100%;
	font-size: 8pt;
	font-weight: 500;
	text-align: left;
	margin-top: 1.5vh;
}

.checkbox-container input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.checkbox-container input[type="checkbox"]+label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input[type="checkbox"]+label:before {
	content: ' ';
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
	background: #fafafa;
	border: 1px solid #e95378;;
	border-radius: 3px;
}

.checkbox-container input[type="checkbox"]+label:active:before,
	.checkbox-container input[type="checkbox"]:checked+label:active:before
	{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.checkbox-container input[type="checkbox"]:checked+label:before {
	content: '\2713';
	color: white;
	background: #e95378;;
	border-color: #e95378;;
}

.input-id::placeholder, .input-pw::placeholder {
	color: #CACACA;
}

*:focus {
	outline: none;
}

.input-id:focus, .input-pw:focus {
	outline: none;
	background-color: white;
}

.snslgbtn {
	width: 100%;
	height: 3rem;
	margin-top: 1.2vh;
}

.divider-custom {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider-custom .divider-custom-line {
	/*
	width: 30%;
	height: 0.1rem;
	background-color: #CACACA;
	border-radius: 1rem;
	border-color: #CACACA !important;
	*/
	width: 30%;
	height: 0.1rem;
	background-color: black;
	border-radius: 1rem;
	border-color: black !important;
}

.login-container {
	width: 22.5rem;
}

.login-explain {
	display: block;
	width: 32.5%;
}

.login-all {
	height: calc(40vh - 2rem);
}

.sign-up{
  display: none;	
}

@media ( max-width : 992px) {
	.sign-up{
  		display: inline;	
	}
	.login-explain {
		display: none;
	}
	.login-all {
		position: relative;
	}
	.login-wrapper {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -45%);
	}
	.masthead {
		height: 100vh;
	}
	.divider-custom-text{
		font-size: 9pt !important;
	}

	body {
		/*background: linear-gradient(to right, rgb(175, 218, 231), #ed7e95);*/
		background-color: inherit;
	}
}

@media (max-width: 500px) {
	.login-container {
		width: 20rem;
	}
	.login-wrapper{
		width:85% !important
	}
}