@charset "UTF-8";
@font-face {
  src : url("../fonts/NanumSquareR.ttf");
  font-family: "NanumSquareR";
}

html, body {
  font-family: "NanumSquareR";
  overflow-x:none;
}
.title-info {
  height:18rem;
}
.reg-info {
  width:100%;
  margin-top:9rem;
}
.reg-info-small {
  width: 100%;
  margin-top:11rem
}
.mypage-section1 {
  margin-top:5.5vw;
  padding-top:3vw;
  background: linear-gradient(to right, rgb(173, 219, 232), rgb(197, 181, 200), rgb(234,120,149));
  height:11vw;
  color:white;
  text-align:center;
}
.section-title {
  margin-bottom:3vw;
}
.section1-content {
  font-size:0.8vw;
}

.mypage-section2 {
  /* height:53vh; */
  padding-bottom:150px;
  width:100%;
}

.myrequest-section {
  /* height:53vh; */
  padding-bottom:2rem;
  width:100%;
}

.myreply-section {
  /* height:53vh; */
  padding-bottom:2rem;
  width:100%;
}

.paging-wrapper {
	margin-bottom:2rem;
	display:flex;
	justify-content:center;
}

.section2-box {
  width: 25rem;
  height:7.5rem;
  border:2px solid #d3d3d3;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  border-radius:15px;
  margin-top:1rem;
  text-align:left;
  line-height:7.5rem;
  padding-left:1rem;
  padding-right:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-right-two {
  line-height: initial;
  text-align: right;
  margin-top: 2.3rem;
}

.section2-text2 {
  margin-bottom:0;
  font-size:0.9rem;
}

.section2-text1 {
  font-weight:bold;
  font-size:1.5rem;
  margin-bottom :1rem!important;
}

/* table {
  border-collapse: collapse;
  width:55vw;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top:2vh;
  position:relative;
  left:50%;
  transform: translateX(-50%);
} */


table {
  margin-top:1vh;
  width: 100%;
  border-collapse: collapse;

}
/* Zebra striping */
tr:nth-of-type(odd) {

}
th {
  font-weight: bold;
}
td, th {
  padding: 6px;
  text-align: left;
  text-overflow : ellipsis!important;
  overflow:hidden!important;
  white-space:nowrap!important;
  padding-top : 15px;
  padding-bottom: 15px;
}

.table-num {
  text-align:right;
}

.table-title {
  width:40vw;
  padding-left:15px;
}

.fbold {
  font-weight:bold;
}

.gradient-bgcolor {
  background: linear-gradient(to right, rgb(175, 218, 231), #ed7e95);
}

.section2-text2 {
  color:black;
  cursor:pointer;
}

.info-table tr td, .info-table tr th {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

.add_item th {
  text-align:center;
  font-size:1.5rem;
  height:1vh!important;
  padding-top:1vh;
}
.add_item-button {
  border:2px solid #e3e3e3;
  background-color:white;
  color:#e3e3e3;
  outline:none!important;
  cursor:pointer;
}

.response-item-count {
  height:3vh;
  width: 3vh;
  margin-left:1vh;
  margin-right:1vh;
  vertical-align:middle;
  outline:none;
  text-align:center;
  font-size:0.75rem;
}
.response-item-count-big {
  height:3vh;
  width: 7vh!important;
  margin-left:1vh;
  margin-right:1vh;
  vertical-align:middle;
  outline:none;
  text-align:center;
  font-size:0.75rem;
}
.response-item-count-mid {
  height:3vh;
  width: 4vh!important;
  margin-left:1vh;
  margin-right:1vh;
  vertical-align:middle;
  outline:none;
  text-align:center;
  font-size:0.75rem;
}

@media (max-width: 576px) {
  /* header {
    padding-top:12vw!important;
  } */
  /* .section1-title {
    font-size:4vw;
  } */
  .section2-box-left {
    padding-left:0.5vh;
    padding-right:0.5vh;
  }
  .mypage-section1 {
    height:100vw;
  }
}


@media (max-width: 768px) {
  /* table {
    font-size:10px;
  } */
  .mypage-section1 {
    padding-top:11vw;
    height:30vw;
  }
  .section2-box {
    width: 25rem;
    border:2px solid #d3d3d3;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    border-radius:15px;
    text-align:left;
  }
}

@media (max-width: 992px) {

  .title-info {
    height:16rem;
  }
  .reg-info {
    width:100%;
    margin-top:7rem;
  }
  .reg-info-small {
    width: 100%;
    margin-top:9rem
  }
}

@media (min-width: 1200px) {
  .mypage-section1 {
    margin-top:3vw;
    padding-top:6vw;
    height:15vw;
  }
  /* .section2-text1 {
    font-weight:bold;
    font-size:1.2vw;
  } */
}
