
@charset "UTF-8";
@font-face {
  src : url("../fonts/NanumSquareR.ttf");
  font-family: "NanumSquareR";
}

html, body {
  font-family: "NanumSquareR";
  overflow-x:none;
}
.title-info {
  height:18rem;
}
.reg-info {
  width:100%;
  margin-top:9rem;
}
.reg-info-small {
  width: 100%;
  margin-top:11rem
}
.section-title {
  margin-bottom:3vw;
}
.section1-content {
  font-size:0.8vw;
}

.news-section2 {
  /* height:53vh; */
  padding-bottom:1rem;
  width:100%;  
}
.section2-box {
  width: 25rem;
  height:7.5rem;
  border:2px solid #d3d3d3;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  border-radius:15px;
  margin-top:1rem;
  text-align:left;
  line-height:7.5rem;
  padding-left:1rem;
  padding-right:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-right-two {
  line-height: initial;
  text-align: right;
  margin-top: 2.3rem;
}

.section2-text2 {
  margin-bottom:0;
  font-size:0.9rem;
}

.section2-text1 {
  font-weight:bold;
  font-size:1.5rem;
  margin-bottom :1rem!important;
}

table {
  margin-top:1vh;
  width: 100%;
  border-collapse: collapse;

}
/* Zebra striping */
tr:nth-of-type(odd) {
	
}
th {
  font-weight: bold;
}
td, th {
  padding: 6px;
  text-align: left;
  text-overflow : ellipsis!important;
  overflow:hidden!important;
  white-space:nowrap!important;
  padding-top : 15px;
  padding-bottom: 15px;
}

.table-num {
  text-align:right;
}

.table-title {
  width:40vw;
  padding-left:15px;
}

.fbold {
  font-weight:bold;
}

.gradient-bgcolor {
  background: linear-gradient(to right, rgb(175, 218, 231), #ed7e95);
}

.section2-text2 {
  color:black;
  cursor:pointer;
}
.news-section1, .news-section2, .newsWrite-section {
	display:flex;
	justify-content : center;
}

.news-section1 {
	margin-bottom:1rem;
}

.news-section1-wrapper, .news-section2-wrapper, .newsWrite-section-wrapper {	
	padding-top:1rem;
	width:70%!important;
}

.news-header-wrapper {
	padding-bottom:0rem;
}
.news-header-wrapper-image {
	cursor:pointer;
	/* border:1px solid black; */
	margin-bottom:0.5rem;
	width:100%;
	height:10rem;
	object-fit:contain;
}

.image-container2 {
	cursor:pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius:15px;
    padding:0!important;
    margin-right:0.5rem;
}

.news-section2-image {
	border-radius:15px!important;
	height:100%;
	object-fit:cover;
}
.news-header-wrapper-text {
	padding-left:1rem;
	padding-right:1rem;
}
.news-header-wrapper-title {
	font-size:1rem;
	line-height:1.5rem;
	height:1.5rem;
	font-weight:bold;
	margin:0;
	margin-bottom:0.5rem;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
.news-section2-div-title {	
	font-size:1rem;
	line-height:1.5rem;
	height:1.7rem;
	font-weight:bold;
	margin:0;
	margin-bottom:0.3rem;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}
.news-header-wrapper-date, .news-section2-div-date {
	font-size:0.5rem;
	color:grey;
	margin:0;
	margin-bottom:0.5rem;
}
.news-header-wrapper-content {
	font-size:0.75rem;
	line-height:1.25rem;
	max-height:5rem;
	margin:0;
	display:-webkit-box; 
	word-wrap:break-word; 
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.news-section2-div-content {
	font-size:0.75rem;
	line-height:1.25rem;
	height:2.5rem;
	margin:0;
	display:-webkit-box; 
	word-wrap:break-word; 
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.news-header {
	display:flex;
	flex-direction :row;
	justify-content : space-around;
	padding-bottom:1.75rem;
	border-bottom:2px solid black;
}
.news-header div:not(.news-header-wrapper-text){
	float:left;
	width:32%;
}
.news-section2-menu-wrapper {
	display:flex;
	justify-content : center;
	padding-top:1rem;
	margin-bottom:1rem;
	margin-left: 1rem;
}

.news-section2-menu {
	font-size:1rem;
	display:flex;
	justify-content : flex-start;
	width:70%!important;
	line-height:1.5rem;
}

.news-menu-title {
	margin-right:3.7rem;
	color:black;
	border:1px solid white;
	padding:0.1rem 0.1rem;
}

.news-section2-menu a:not(.news-menu-title) {
	margin-right:1rem;
	color:black;
	border:1px solid black;
	padding:0.1rem 0.7rem;
	cursor:pointer;
}

.news-section2-menu-selected {
	color:white!important;
	background-color: black;
}

.news-section2-div {
	display:flex;
	justify-content:flex-start;
	flex-direction: row;
	height:7rem;
	margin-bottom:1rem;
    border-radius:0px;
	border-bottom: 2px solid #e3e3e3;
	padding-bottom:1rem;
}

.news-section2-div-right {
	display:flex;
	justify-content:space-around!important;
	flex-direction:column;
	padding:0.25rem 0.9rem;
	overflow:hidden;
	width:90%;
}

.paging-wrapper {
	display:flex;
	justify-content:center;
	margin-bottom:2rem;
}


/* news write */


#news-title {
	width:100%;
	font-size:1.5rem;
	border-style:none;
	border-bottom:3px solid #d3d3d3;
	outline:none;
	margin-bottom:1rem;
}
.news-title:focus {
  border-bottom:2px solid black;
}
.news-tip {
	font-size:0.75rem;
}
.news-ftr {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  text-align: right;
  border-top:3px solid black;
  padding-top:0.5rem;
}
.btn-upload {
  float:right;
  border:2px solid #e5e5e5;
  background-color: #e5e5e5;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  color: grey;
  font-weight:bold;
  cursor: pointer;
}
.news-type {
  height:3.5vh;
  text-align:center;
}



@media (max-width: 992px) {
	.newsWrite-section-wrapper {	
		padding-top:1rem;
		width:90%!important;
	}
	.news-section1 {
		width:70%;
		display:none;
	}
	.news-section2-wrapper {
		width:90%!important;
	}
	.news-menu-title {
		margin-right:2rem;
		font-size: 1rem;
	}
	.news-section2-menu {
		font-size:0.8rem;
		display:flex;
		justify-content : center;
		width:100%!important;
		line-height:1.5rem;
	}
	.news-section2-div-title {
		font-size:1rem !important;
		line-height:1.5rem;
		height:2rem;
		font-weight:bold;
		margin:0;
		margin-bottom:0rem!important;
		overflow:hidden; 
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	.news-header-wrapper-content, .news-section2-div-content {
		font-size:0.75rem;
		line-height:1.25rem;
		height:3.75rem;
		margin:0;
		display:-webkit-box; 
		word-wrap:break-word; 
		-webkit-line-clamp:3!important; 
		-webkit-box-orient:vertical; 
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	.news-section2-div {
		height:8rem;
	}
	.title-info {
	    height:16rem;
	}
	.reg-info {
	    width:100%;
	    margin-top:7rem;
	}
	.reg-info-small {
	    width: 100%;
	    margin-top:9rem
	}
}


@media (max-width: 768px) {
	.title-info {
	    height:11rem;
	}
	.title-info h4{
	    font-size: 1.2rem !important;
	}
	.reg-info {
	    width:100%;
	    margin-top:5rem;
	}
  .section2-box {
      width: 25rem;
      border:2px solid #d3d3d3;
      position:relative;
      left:50%;
      transform: translateX(-50%);
      border-radius:15px;
      text-align:left;
  }
   .reg-info a{
  	display: none;
  }
}

@media (max-width: 576px) {
  .section2-box-left {
    padding-left:0.5vh;
    padding-right:0.5vh;
  }
    .news-menu-title {
	display: block;	
	margin-bottom: 0.5rem;
  }
  .news-section2-menu {
    display: block;
  }
}

.intro-menubar {
	padding-bottom:1rem;
	display:flex;
	justify-content : space-between;
	
}

.intro-menubar div {
	display:inline-block;
	font-weight:bold;
	width:32%;
	border-bottom:3px solid #d3d3d3;
	color:#c3c3c3;
	text-align:center;
	cursor:pointer;
	padding-top:0.75rem;
	padding-bottom:0.5rem;
}

.selected-menu {
	color:#e95378!important;
	font-size:1.25rem;
	border-bottom:3px solid #e95378!important;
}

@media (max-width: 768px) {
	.intro-menubar div {
		font-size:0.75rem;
		padding-bottom:0.3rem;
	}
	.selected-menu {
		color:#ed7e95!important;
		font-size:1rem!important;
		border-bottom:3px solid #ed7e95!important;
	}
}