@charset "UTF-8";
@font-face {
  src : url("../fonts/NanumSquareR.ttf");
  font-family: "NanumSquareR";
}

html, body {
  font-family: "NanumSquareR";
  overflow-x:none;
}
.title-info {
  height:18rem;
}
.request-menu{
	font-size:1rem;
	display:flex;
	justify-content : flex-start;
/* 	width:50%!important;
 */	line-height:1.5rem;
	margin-bottom: 1rem;
}
.request-menu a{
	margin-right:1rem;
	color:black;
	border:1px solid black;
	padding:0.1rem 0.7rem;
	cursor:pointer;
}
.request-menu-button-selected{
	color:white!important;
	background-color: black;
}
.reg-info {
  width:100%;
  margin-top:9rem;
}
.reg-info-small {
  width: 100%;
  margin-top:11rem
}
.mypage-section1 {
  margin-top:5.5vw;
  padding-top:3vw;
  background: linear-gradient(to right, rgb(173, 219, 232), rgb(197, 181, 200), rgb(234,120,149));
  height:11vw;
  color:white;
  text-align:center;
}
.section-title {
  margin-bottom:3vw;
}
.section1-content {
  font-size:0.8vw;
}

.mypage-section2 {
  /* height:53vh; */
  padding-bottom:150px;
  width:100%;

}
.section2-box {
  width: 55vh;
  height:13vh;
  border:2px solid #d3d3d3;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  border-radius:15px;
  margin-top:1.5vh;
  text-align:left;
  line-height:13vh;
  padding-left:1vw;
  padding-right:1vw;
}
.section2-box-left, .section2-box-right {
  float:left;
  height:inherit;
}
.section2-box-left {
  width:75%;
}
.section2-box-right {
  width:23%;
  float:right;
  text-align:right;
}
.section2-text2 {
  margin-bottom:0;
  font-size:1.7vh;
}

.section2-text1 {
  font-weight:bold;
  font-size:3vh;
  margin-bottom :1vh!important;
}

/* table {
  border-collapse: collapse;
  width:55vw;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top:2vh;
  position:relative;
  left:50%;
  transform: translateX(-50%);
} */


table {
 /*  margin-top:1vh; */
  width: 100%;
  border-collapse: collapse;

}
/* Zebra striping */
tr:nth-of-type(odd) {

}
th {
  font-weight: bold;
}
td, th {
  padding: 6px;
  text-align: left;
  text-overflow : ellipsis!important;
  overflow:hidden!important;
  white-space:nowrap!important;
  padding-top : 15px;
  padding-bottom: 15px;
}

.table-num {
  text-align:right;
  width:15%;
}

.table-title {
  width:60%;
  padding-left:15px;
  cursor:pointer;
}
.table-date {
	width:20%;
}
.fbold {
  font-weight:bold;
}

.gradient-bgcolor {
  background: linear-gradient(to right, rgb(175, 218, 231), #ed7e95);
}
.reg-info {
  width:100%;
  margin-top:18.5vh;
}
.section2-text2 {
  color:black;
  cursor:pointer;
}

.info-table tr td, .info-table tr th {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

/* sm */
.tbox-big {
  float:left;
  width:90%;
  padding-left:1rem;
  padding-right:1rem;
  height:2rem;
  border:1px solid black;
  border-radius:20px;
  font-size: 0.75rem;
  outline : none;
  position:relative;
  left:50%;
  transform: translateX(-55%);
}

.search-icon {
  width:2rem!important;
  color :black;
  cursor:pointer;
  margin:0!important;
  /* margin-left:-50px!important; */
}

.test {
  border :1px solid red;
}

.page-section-map {
  padding-top:3vh;
}

.sec3-middle {
  margin-top:1vh;
  position:relative;
  left:50%;
  transform: translateX(-50%);
}

.sec3-middle-left, .sec3-middle-right {
  display:inline;
  width:40%;
  padding-left:3%;
  padding-right:3%;
}
.sec3-middle-left {
  border-right : 1px solid black;
}

.tbox-small {
  width:3.5rem;
  height:1.5rem;
  border:1px solid black;
  border-radius:20px;
  font-size: 0.75rem;
  outline : none!important;
  background-color : white;
  margin-right:0.5%;
}

.tbox-small-selected-red{
	color : white;
	background-color: #ed7e95;
	border: 1px solid #ed7e95;
}

.tbox-small-selected-blue{
	color : white;
	background-color: #AFDAE7;
	border: 1px solid #AFDAE7;
}
.sec3-text1 {
  font-size:0.9rem;
  margin-right:1%;
}
.res-br {
  display:none!important;
}
.main-map {
  position:relative;
  margin-top:2vh;
  margin-bottom:2vh;
  width:100%;
  height:67vh;
  /* position:absolute;
  bottom:0;
  width:70%; */
  /* left:24%; */
  /* transform:translate(10%,10%); */
  float:none;
  z-index:5;
}
.search-div {
	margin-top: 2rem;
    display: flex !important;
}

.search-box-mid, .search-box-small, .search-box-big {
  height:1.5rem;
  outline:none!important;
}

.search-box-small {
  /* margin-left:2vh; */
  margin-right:2vh;
  width:13vh;
}
.search-box-mid {
  /* margin-left:2vh; */
  margin-right:2vh;
  width:16vh;
}
.search-box-big {
  /* margin-left:2vh; */
  margin-right:2vh;
  width:26vh;
}
.search-btn {
  height:1.5rem;
  width:4rem;
  font-size:1rem;
  line-height:1rem;
  background-color:white;
  border:1px solid black;
  outline:none;
}

@media (max-width: 1200px) {
  .section2-text1 {
    margin-top:1.5vh!important;
    margin-bottom:1vh!important;
  }

  .map-content {
    border-radius : 0px;
    border:2px solid #E2E2E2!important;
    box-shadow:0px 0px 15px #E2E2E2!important;
    z-index:10;
    position:inherit!important;
    left:50%!important;
    bottom:0vh;
    transform: translateX(0%);
    height:16vh;
    width:100%;
    background-color:white;
    padding-left:3%;
    padding-right:3%;
    padding-top:2vh;
    padding-bottom:0.5%;
    font-size:1rem;
    display:block;
    /* align-items:center; */
    margin-bottom:2vh;
    /* vertical-align: middle!important; */
  }
  .map-content div {
    display:inline;
    float:left;
    text-align:left;
    height:100%;
  }
  .map-left {
    width:100%!important;
    height:4vh!important;
    line-height:2vw;
    /* border-right :2px solid #d5d5d5; */
    border-style:none;
    padding-top:0.5vw;
    float:left!important;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .map-mid {
    width:29%;
    height:auto!important;
    padding-left:0vh;
    padding-right: 0vh;
    margin-right:1vh;
    padding-top:0.5vw;
    line-height:1.5vw;
    font-weight:bold;
    float:left!important;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border-right :2px solid #d5d5d5; */
    /* display:none!important; */

  }
  .search-div1, .search-div2 {
    margin:0!important;
    padding:0!important;
  }
  .map-right {
    width:37%;
    height:auto!important;
    padding-left:0vh;
    line-height:1.5vw;
    /* border-left :2px solid #d5d5d5; */
    border-style:none;
    padding-top:0.5vw;
    font-weight:bold;
    float:left!important;
    /* display:none!important; */
    text-align:center!important;
  }
  .search-div {
    display: inline;
    width:auto;
    padding-left:0%!important;
    padding-right:0%!important;
  }
  .search-text {
    /* display:block; */
  }
  .divide1 {
    display:block;
  }

  .container p {
    margin:0;
  }

  .help-content {
    font-weight:bold;
    font-size:1.5rem;
    display:inline!important;
    margin-right:3vh!important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .help-date {
    font-size:1rem;
    display:inline!important;
  }
  .help-status {
    font-size:0.9rem;
    margin-left:1vh;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .wrapper-status {
    margin-bottom:2vh!important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .help-term {
    font-size:0.9rem;
    margin-left:1vh;
  }
  .help-code {
    font-size:1rem;
  }
  .help-code-box {
    font-size:0.7rem;
    width:50%;
    margin-left:1vh;
    height:1.0rem;
    margin-bottom:0.5vh;
    outline:none;
    padding-right:2vh;
  }
  .copy-btn {
    position:relative!important;
    left:-7%!important;
    transform: translateX(0%);
    /* margin-left:-10vh!important; */
  }
  .help-detail {
    padding:0;
    width:80%;
    height:3vh;
    line-height:2vh;
    font-weight:bold;
    font-size:1.5vh;
    border-radius : 5px;
    border : 2px solid var(--dodream-pink1);
    color:var(--dodream-pink1);
    background-color:white;
  }
  .search-box-small {
    /* margin-left:2vh; */
    margin-right:2vh;
    width:13vh!important;
  }
  .search-box-mid {
    /* margin-left:1vh!important; */
    margin-right:2vh;
    width:14vh!important;
  }
  .search-box-big {
    /* margin-left:2vh; */
    margin-right:2vh;
    width:15vh!important;
  }
  .temp {
    display:none;
  }
  .title-info {
    height:16rem;
  }
  .reg-info {
    width:100%;
    margin-top:7rem;
  }
  .reg-info-small {
    width: 100%;
    margin-top:9rem
  }
  .mypage-section1 {
    margin-top:3vw;
    padding-top:6vw;
    height:15vw;
  }

  .map-content {
    border-radius : 10px;
    border:2px solid var(--dodream-pink2);
    z-index:10;
    position:relative!important;
    left:50%;
    bottom:18vh;
    transform: translateX(-50%);
    height:10vh;
    width:80%;
    background-color:white;
    padding-left:1%;
    padding-right:1%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    font-size:0.75rem;
    display:flex;
    align-items:center;
    /* vertical-align: middle!important; */
    margin-bottom:-10vh;
  }
  .map-content div {
    display:inline;
    float:left;
    text-align:left;
    height:100%;
  }
  .map-left {
    width:25%!important;
    line-height:2vw;
    border-right :2px solid #d5d5d5;
    padding-top:0.5vw;

	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .map-right {
    width:30%;
    padding-left:2vh;
    line-height:1.5vw;
    border-left :2px solid #d5d5d5;
    padding-top:0.5vw;
    font-weight:bold;
  }
  .map-mid {
    width:20%;
    padding-left:2vh;
    padding-top:0.5vw;
    line-height:1.5vw;
    font-weight:bold;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .search-div {
    display: inline;
    display:flex;
    align-items: center; 
    position:relative!important;
    left:50%;
    transform: translateX(-49%);
    margin-top:2.5rem;
  }

  .container p {
    margin:0;
  }

  .help-content {
    font-weight:bold;
    font-size:1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .help-date {
    font-size:0.5rem;
  }
  .help-status {
    font-size:0.75rem;
    margin-left:1vh;
    width:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .wrapper-status {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .help-term {
    font-size:0.75rem;
    margin-left:1vh;
  }
  .help-code {
    font-size:0.75rem;    
  }
  .help-code-box {
    font-size:0.5rem;
    margin-left:1vh;
    height:1.3rem;
    margin-bottom:1vh;
    z-index:3;
    padding-right:3vh;
  }
  .copy-btn {
    position:relative!important;
    left:-10%!important;
    transform: translateX(0%);
    /* margin-left:-10vh!important; */
  }
  .help-detail {
    padding:0;
    width:90%;
    height:3vh;
    line-height:2vh;
    font-weight:bold;
    font-size:1.8vh;
    border-radius : 5px;
    border : 2px solid var(--dodream-pink1);
    color:var(--dodream-pink1);
    background-color:white;
    z-index:5;
  }
}

@media (max-width: 992px) {
 .sec3-middle-left, .sec3-middle-right {
    display:block!important;
    width:100%!important;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:1vh;
  }
  .sec3-middle-left {
    border-style : none!important;
  }	
  .search-box-small {
    margin-right:2vh;
    margin-bottom:2vh;
    width:9vh!important;
  }
  .search-box-mid {
    /* margin-left:1vh!important; */
    margin-bottom:2vh;
    margin-right:2vh;
    width:11vh!important;
  }
  .search-box-big {
    margin-right:2vh;
    width:13vh!important;
  }
}

@media (max-width: 768px) {
  /* table {
    font-size:10px;
  } */
  .tbox-big{
  	width: 85%;
  }
   .sec3-text1{
  	display: block;
  }
  
  .mypage-section1 {
    padding-top:11vw;
    height:30vw;
  }
  .section2-box {
    width: 55vh;
    height:13vh;
    border:2px solid #d3d3d3;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    border-radius:15px;
    margin-top:2vh;
    text-align:left;
    line-height:13vh;
    padding-left:2vh!important;
    padding-right:2vh!important;
  }
  .sec3-middle-left, .sec3-middle-right {
    display:block!important;
    width:100%!important;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:1vh;
  }
  .sec3-middle-left {
    border-style : none!important;
  }
}

@media (max-width: 576px) {
  .map-content {
    height:13vh!important;
  }
  /* header {
    padding-top:12vw!important;
  } */
  /* .section1-title {
    font-size:4vw;
  } */
  .section2-box-left {
    padding-left:0.5vh;
    padding-right:0.5vh;
  }
  .mypage-section1 {
    height:100vw;
  }
  .search-box-small {
    /* margin-left:2vh; */
    margin-right:2vh;
    width:8vh!important;
  }
  .search-box-mid {
   /*  margin-left:2vh; */
    margin-right:2vh;
    width:12vh!important;
  }
  .search-box-big {
    /* margin-left:2vh; */
    margin-right:2vh;
    width:15vh!important;
  }
  .temp {
    display:block!important;
    height:2vh;
  }
}
